# -*- conf -*-
font=FantasqueSansMono Nerd Font:size={{ .terminal_font_size }}
font-bold=FantasqueSansMono Nerd Font:size={{ .terminal_font_size }}
font-italic=FantasqueSansMono Nerd Font:size={{ .terminal_font_size }}

[key-bindings]
clipboard-copy=Control+c XF86Copy
clipboard-paste=Control+v XF86Paste

[text-bindings]
\x03=Control+Shift+c
\x16=Control+Shift+v

[colors]
alpha=0.8
foreground=cacaca
background=000000

regular0=1c1c1c  # black
regular1=bc5653  # red
regular2=909d63  # green
regular3=ebc17a  # yellow
regular4=7eaac7  # blue
regular5=aa6292  # magenta
regular6=86d3ce  # cyan
regular7=cacaca  # white

bright0=636363   # bright black
bright1=bc5653   # bright red
bright2=909d63   # bright green
bright3=ebc17a   # bright yellow
bright4=7eaac7   # bright blue
bright5=aa6292   # bright magenta
bright6=86d3ce   # bright cyan
bright7=f7f7f7   # bright white

[scrollback]
lines = 10000

