# Pop this in /usr/local/share/wayland-sessions/sway-custom.desktop

[Desktop Entry]
Name=Sway (Custom Launcher)
Comment=An i3-compatible Wayland compositor
Exec=/var/home/phil/bin/sway-run
Type=Application
